.profile {
    position: absolute;
    z-index: -1;
    right: 80px;
    top: 80px;
    margin: 0px;
    height: 60%;
    max-height: 52%;
    min-height: 20%;
    width: auto;
    max-width: auto;
    min-width: auto;
}

.center {
    margin: auto;
    width: 95%;
    height: 50%;
    border: 1px white;
    padding: 10px;
}

body {
    color: white;
    text-align: left;
    font-family: "source Code Pro", "Courier New", Courier, monospace;
    background-color: rgb(0, 26, 225);
}

ul, li {
    font-size: 16px;
    list-style-type: none;
    padding-bottom: 8px;
    padding-top: 2px;
}

p {
    padding: 10px;
    margin-right: 35%;
    font-size: 24px;
}

a {
    color: white;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.list {
    font-size: 3px;
}

.subtitle {
    padding-top: 0px;
    margin-top: 0px;
    font-style: normal;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.active {
    display: block;
}

a.dropdown-toggle {
    text-decoration: underline;
}

