/* https://clrs.cc */

body {
    font-size: 16px;
    text-align: left;
    background-color: rgb(255, 250, 250);
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke-width: 0px; */
    -webkit-text-stroke-color: rgb(255, 250, 250);
    -webkit-font-smoothing: subpixel-antialiased;
    color: rgb(0, 0, 0);
}

p {
    font-size: 17px;
    margin-top: 0;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

ul.blog {
    font-size: 18px;
    list-style-type: none;
}


li.post {
    font-size: 18px;
    margin: 6px 0;
}


.name {
    font-size: 40px;
}

.left {
    float: left;
    /* width: 42%; */
    width: 41%;
    padding-left: 1%;
}

.right {
    float: right;
    /* width: 55%; */
    height: 150%;
    width: 54%;
    padding-right: 1%;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: #001f3f;
}

a:visited {
    text-decoration: none;
    font-weight: 300;
    color: inherit;
    color: #001f3f;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
    color: #003c7a;
}

a:active {
    text-decoration: none;
    color: inherit;
    color: #001f3f;
}

a.post:link {
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.floatright {
    float: right;
}


/* Mobile: (767px) */
@media only screen and (max-device-width: 900px) {
    .left {

}

    .right {

}
}

@media only screen and (max-width: 900px) {
    .left {
        float: left;
        width: 100%;
        padding-left: 0;
    }

    .right {
        float: left;
        width: 100%;
        height: 150%;
        padding-right: 0;
    }
}

/* BADGES from BOOTSTRAP */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  box-sizing: border-box;
  list-style-position: inside;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.bg-emacs {
  background-color: rgba(127, 90, 182, 0.8) !important;
}

.bg-writing {
  background-color: rgba(13, 110, 253, 0.8) !important;
}


.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
